In [2]:
# Import the modules
import numpy as np
import pandas as pd
from pathlib import Path
from sklearn.metrics import balanced_accuracy_score, confusion_matrix, classification_report

---

## Split the Data into Training and Testing Sets

### Step 1: Read the `lending_data.csv` data from the `Resources` folder into a Pandas DataFrame.

In [21]:
# Read the CSV file from the Resources folder into a Pandas DataFrame
lend_df = pd.read_csv("Resources/lending_data.csv")

# Review the DataFrame
print(lend_df.head(10))
print(lend_df.columns)

   loan_size  interest_rate  borrower_income  debt_to_income  num_of_accounts  \
0    10700.0          7.672            52800        0.431818                5
1     8400.0          6.692            43600        0.311927                3
2     9000.0          6.963            46100        0.349241                3
3    10700.0          7.664            52700        0.430740                5
4    10800.0          7.698            53000        0.433962                5
5    10100.0          7.438            50600        0.407115                4
6    10300.0          7.490            51100        0.412916                4
7     8800.0          6.857            45100        0.334812                3
8     9300.0          7.096            47400        0.367089                3
9     9700.0          7.248            48800        0.385246                4

   derogatory_marks  total_debt  loan_status
0                 1       22800            0
1                 0       13600            0
2                 0       16100            0
3                 1       22700            0
4                 1       23000            0
5                 1       20600            0
6                 1       21100            0
7                 0       15100            0
8                 0       17400            0
9                 0       18800            0
Index(['loan_size', 'interest_rate', 'borrower_income', 'debt_to_income',
       'num_of_accounts', 'derogatory_marks', 'total_debt', 'loan_status'],
      dtype='object')

### Step 2: Create the labels set (`y`)  from the “loan_status” column, and then create the features (`X`) DataFrame from the remaining columns.

In [29]:
# Separate the data into labels and features

# Separate the y variable, the labels
y = lend_df["loan_status"]

# Separate the X variable, the features
X = lend_df.copy()
X = X.drop(columns = "loan_status")

X.head()

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt
0,10700.0,7.672,52800,0.431818,5,1,22800
1,8400.0,6.692,43600,0.311927,3,0,13600
2,9000.0,6.963,46100,0.349241,3,0,16100
3,10700.0,7.664,52700,0.430740,5,1,22700
4,10800.0,7.698,53000,0.433962,5,1,23000

In [7]:
# Review the y variable Series
print(y)

0        0
1        0
2        0
3        0
4        0
        ..
77531    1
77532    1
77533    1
77534    1
77535    1
Name: loan_status, Length: 77536, dtype: int64

In [30]:
# Review the X variable DataFrame
print(X)

       loan_size  interest_rate  borrower_income  debt_to_income  \
0        10700.0          7.672            52800        0.431818
1         8400.0          6.692            43600        0.311927
2         9000.0          6.963            46100        0.349241
3        10700.0          7.664            52700        0.430740
4        10800.0          7.698            53000        0.433962
...          ...            ...              ...             ...
77531    19100.0         11.261            86600        0.653580
77532    17700.0         10.662            80900        0.629172
77533    17600.0         10.595            80300        0.626401
77534    16300.0         10.068            75300        0.601594
77535    15600.0          9.742            72300        0.585062

       num_of_accounts  derogatory_marks  total_debt
0                    5                 1       22800
1                    3                 0       13600
2                    3                 0       16100
3                    5                 1       22700
4                    5                 1       23000
...                ...               ...         ...
77531               12                 2       56600
77532               11                 2       50900
77533               11                 2       50300
77534               10                 2       45300
77535                9                 2       42300

[77536 rows x 7 columns]

### Step 3: Check the balance of the labels variable (`y`) by using the `value_counts` function.

In [31]:
# Check the balance of our target values
y.value_counts()

0    75036
1     2500
Name: loan_status, dtype: int64

### Step 4: Split the data into training and testing datasets by using `train_test_split`.

In [32]:
# Import the train_test_learn module
from sklearn.model_selection import train_test_split

# Split the data using train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state= 1)

---

## Create a Logistic Regression Model with the Original Data

###  Step 1: Fit a logistic regression model by using the training data (`X_train` and `y_train`).

In [34]:
# Import the LogisticRegression module from SKLearn
from sklearn.linear_model import LogisticRegression

# Instantiate the Logistic Regression model
# Assign a random_state parameter of 1 to the model
logreg = LogisticRegression(solver = 'lbfgs', max_iter = 1000, random_state = 1)
logreg

# Fit the model using training data
logreg.fit(X_train, y_train)

LogisticRegression(max_iter=1000, random_state=1)

### Step 2: Save the predictions on the testing data labels by using the testing feature data (`X_test`) and the fitted model.

In [36]:
# Make a prediction using the testing data
logreg_prediction = logreg.predict(X_test)
results = pd.DataFrame({"logrerg_prediction" : logreg_prediction, "Observed" : y_test})
results.head(10)

       logrerg_prediction  Observed
60914                   0         0
36843                   0         0
1966                    0         0
70137                   0         0
27237                   0         0
40013                   0         0
43107                   0         0
61988                   0         0
57437                   0         0
46757                   0         0

### Step 3: Evaluate the model’s performance by doing the following:

* Calculate the accuracy score of the model.

* Generate a confusion matrix.

* Print the classification report.

In [43]:
# Print the balanced_accuracy score of the model
logreg_accuracy = balanced_accuracy_score(y_test, logreg_prediction)
logreg_accuracy

0.9520479254722232

In [39]:
logreg_cm

array([[18663,   102],
       [   56,   563]])

In [41]:
# Generate a confusion matrix for the model
logreg_cm = confusion_matrix(y_test, logreg_prediction)
logreg_cm_df = pd.DataFrame(logreg_cm, index = ["Actual 0", "Actual 1"], columns = ["Predicted 0", "Predicted 1"])

          Predicted 0  Predicted 1
Actual 0        18663          102
Actual 1           56          563

In [45]:
# Print the classification report for the model
print("Confusion Matrix")
display(logreg_cm_df)
print(f"Accuracy Score : {logreg_accuracy}")
print("Classification Report")
print(classification_report(y_test, logreg_prediction))

Confusion Matrix

          Predicted 0  Predicted 1
Actual 0        18663          102
Actual 1           56          563

Accuracy Score : 0.9520479254722232
Classification Report
              precision    recall  f1-score   support

           0       1.00      0.99      1.00     18765
           1       0.85      0.91      0.88       619

    accuracy                           0.99     19384
   macro avg       0.92      0.95      0.94     19384
weighted avg       0.99      0.99      0.99     19384

### Step 4: Answer the following question.

**Question:** How well does the logistic regression model predict both the `0` (healthy loan) and `1` (high-risk loan) labels?

**Answer:** The logistic regression model predicting healthy loan very well. It has a tougher time predicting the high-risk loan.

---

## Predict a Logistic Regression Model with Resampled Training Data

### Step 1: Use the `RandomOverSampler` module from the imbalanced-learn library to resample the data. Be sure to confirm that the labels have an equal number of data points.

In [46]:
# Import the RandomOverSampler module form imbalanced-learn
from imblearn.over_sampling import RandomOverSampler

# Instantiate the random oversampler model
# # Assign a random_state parameter of 1 to the model
ros = RandomOverSampler(random_state=1)

# Fit the original training data to the random_oversampler model
X_res, y_res = ros.fit_resample(X_train, y_train)

In [51]:
# Count the distinct values of the resampled labels data
print(X_res.shape)
print(y_res.shape)

(112542, 7)
(112542,)

### Step 2: Use the `LogisticRegression` classifier and the resampled data to fit the model and make predictions.

In [54]:
# Instantiate the Logistic Regression model
# Assign a random_state parameter of 1 to the model
logreg_res = LogisticRegression(solver = 'lbfgs', max_iter = 1000, random_state = 1)

# Fit the model using the resampled training data
logreg_res.fit(X_res, y_res)

# Make a prediction using the testing data
logreg_res_prediction = logreg_res.predict(X_test)
results_res = pd.DataFrame({"logreg_res_prediction" : logreg_res_prediction, "Observed" : y_test})
results_res.head(10)

       logreg_res_prediction  Observed
60914                      0         0
36843                      0         0
1966                       0         0
70137                      0         0
27237                      0         0
40013                      0         0
43107                      0         0
61988                      0         0
57437                      0         0
46757                      0         0

### Step 3: Evaluate the model’s performance by doing the following:

* Calculate the accuracy score of the model.

* Generate a confusion matrix.

* Print the classification report.

In [56]:
# Print the balanced_accuracy score of the model 
logreg_res_accuracy = balanced_accuracy_score(y_test, logreg_res_prediction)
logreg_res_accuracy

0.9936781215845847

In [59]:
# Generate a confusion matrix for the model
logreg_res_cm = confusion_matrix(y_test, logreg_res_prediction)
logreg_res_cm_df = pd.DataFrame(logreg_res_cm, index = ["Actual 0", "Actual 1"], columns = ["Predicted 0", "Predicted 1"])
display(logreg_res_cm_df)

          Predicted 0  Predicted 1
Actual 0        18649          116
Actual 1            4          615

In [60]:
# Print the classification report for the model
# Print the classification report for the model
print("Confusion Matrix for Logistic Regression with Resampling")
display(logreg_res_cm_df)
print(f"Accuracy Score : {logreg_res_accuracy}")
print("Classification Report")
print(classification_report(y_test, logreg_res_prediction))

Confusion Matrix for Logistic Regression with Resampling

          Predicted 0  Predicted 1
Actual 0        18649          116
Actual 1            4          615

Accuracy Score : 0.9936781215845847
Classification Report
              precision    recall  f1-score   support

           0       1.00      0.99      1.00     18765
           1       0.84      0.99      0.91       619

    accuracy                           0.99     19384
   macro avg       0.92      0.99      0.95     19384
weighted avg       0.99      0.99      0.99     19384

### Step 4: Answer the following question

**Question:** How well does the logistic regression model, fit with oversampled data, predict both the `0` (healthy loan) and `1` (high-risk loan) labels?

**Answer:** The logistic regression model fits the data very well with oversampled data. Precision for high-risk loan remains slightly low, but all other measures of accuracy suggest adequate performance.